{$SITE_DOMAIN:localhost} {
	encode gzip

	handle /api/* {
		reverse_proxy server:4000
	}

	handle /uploads/* {
		reverse_proxy server:4000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
